<% if developer_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_developer_session_path, method: :delete) %>        
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_developer_session_path) %>  
  </li>
<% end %>
